#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #606c71;
    margin-top: 60px;
}

div {
    box-sizing: border-box;
}

.rn-main__wrapper {
    padding: 0;
}

.rn-padding-sm {
    padding: 6px;
}

.rn-with-1-2 {
    margin: 0 auto;
    width: 48%;
}

.rn-margin-top {
    margin-top: 15em;
}